/*
# Every section after header has to have this:
```
position: relative;
top: 70px;
```
*/


/*Hero Shot*/

input{
    margin: 5px auto;
}


.hero-shot{
    position: relative;
    top: 70px;
    width: 100%;
    height: calc(100vh - 70px);
    background-image: url(../images/student.jpg);
    background-clip: border-box;
    /*background-attachment: fixed;*/
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.film{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
}

.hook{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    gap: 25px;
    transition: .5s !important;
}

.hook_header{
    color: var(--neutral-color);
    font-size: 48px;
    line-height: 102%;
}
.hook_text{
    color: var(--neutral-color);
    font-size: 20px;
    line-height: 133%;
    
}
.hook_button{
    color: var(--neutral-color);
    background-color: var(--accent-color);
    width: 300px;
    height: 50px;
    border: none;
    border-radius: 10px;
    font-size: 24px;
    transition: var(--transition);
}
.hook_button:hover{
    background-color: var(--accent-hover);
}




/* Why Us */

.why-us{
    position: relative;
    top: 70px;
    width: 100%;
    padding: 70px 0;
}

.why-us_intro{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 70px;
}

.why-us_title{
    font-size: 40px;
    font-weight: 700;
}

.why-us_context{
    font-size: 20px;
}

.why-us_list{
    margin: 0 auto;
    display: grid;
    width: 80%;
    height: 100%;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}

.why-us_card_image{
    width: 50px;
    height: 50px;
    margin-right: 15px;
}

.card{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.news{
    position: relative;
    top: 70px;
    width: 100%;
    height: 140px;
    background-color: #dadada;
}

.news_container{
    height: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}   

.news_{
    height: 60px;

    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 5%;
} 


/* Why Abroad Section */

.why-abroad{
    position: relative;
    top: 70px;
    width: 100%;
    padding: 80px 0;
    text-align: center;
}

.why-abroad_title{
    color: var(--primary-color);
    font-size: 36px;
    font-weight:700;
    margin-bottom: 30px;
}

.why-abroad_content{
    color: var(--primary-color);
    font-size: 24px;
}

.quote{
    background-color: #00acdc;
    background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M54.627 0l.83.828-1.415 1.415L51.8 0h2.827zM5.373 0l-.83.828L5.96 2.243 8.2 0H5.374zM48.97 0l3.657 3.657-1.414 1.414L46.143 0h2.828zM11.03 0L7.372 3.657 8.787 5.07 13.857 0H11.03zm32.284 0L49.8 6.485 48.384 7.9l-7.9-7.9h2.83zM16.686 0L10.2 6.485 11.616 7.9l7.9-7.9h-2.83zm20.97 0l9.315 9.314-1.414 1.414L34.828 0h2.83zM22.344 0L13.03 9.314l1.414 1.414L25.172 0h-2.83zM32 0l12.142 12.142-1.414 1.414L30 .828 17.272 13.556l-1.414-1.414L28 0h4zM.284 0l28 28-1.414 1.414L0 2.544V0h.284zM0 5.373l25.456 25.455-1.414 1.415L0 8.2V5.374zm0 5.656l22.627 22.627-1.414 1.414L0 13.86v-2.83zm0 5.656l19.8 19.8-1.415 1.413L0 19.514v-2.83zm0 5.657l16.97 16.97-1.414 1.415L0 25.172v-2.83zM0 28l14.142 14.142-1.414 1.414L0 30.828V28zm0 5.657L11.314 44.97 9.9 46.386l-9.9-9.9v-2.828zm0 5.657L8.485 47.8 7.07 49.212 0 42.143v-2.83zm0 5.657l5.657 5.657-1.414 1.415L0 47.8v-2.83zm0 5.657l2.828 2.83-1.414 1.413L0 53.456v-2.83zM54.627 60L30 35.373 5.373 60H8.2L30 38.2 51.8 60h2.827zm-5.656 0L30 41.03 11.03 60h2.828L30 43.858 46.142 60h2.83zm-5.656 0L30 46.686 16.686 60h2.83L30 49.515 40.485 60h2.83zm-5.657 0L30 52.343 22.343 60h2.83L30 55.172 34.828 60h2.83zM32 60l-2-2-2 2h4zM59.716 0l-28 28 1.414 1.414L60 2.544V0h-.284zM60 5.373L34.544 30.828l1.414 1.415L60 8.2V5.374zm0 5.656L37.373 33.656l1.414 1.414L60 13.86v-2.83zm0 5.656l-19.8 19.8 1.415 1.413L60 19.514v-2.83zm0 5.657l-16.97 16.97 1.414 1.415L60 25.172v-2.83zM60 28L45.858 42.142l1.414 1.414L60 30.828V28zm0 5.657L48.686 44.97l1.415 1.415 9.9-9.9v-2.828zm0 5.657L51.515 47.8l1.414 1.413 7.07-7.07v-2.83zm0 5.657l-5.657 5.657 1.414 1.415L60 47.8v-2.83zm0 5.657l-2.828 2.83 1.414 1.413L60 53.456v-2.83zM39.9 16.385l1.414-1.414L30 3.658 18.686 14.97l1.415 1.415 9.9-9.9 9.9 9.9zm-2.83 2.828l1.415-1.414L30 9.313 21.515 17.8l1.414 1.413 7.07-7.07 7.07 7.07zm-2.827 2.83l1.414-1.416L30 14.97l-5.657 5.657 1.414 1.415L30 17.8l4.243 4.242zm-2.83 2.827l1.415-1.414L30 20.626l-2.828 2.83 1.414 1.414L30 23.456l1.414 1.414zM56.87 59.414L58.284 58 30 29.716 1.716 58l1.414 1.414L30 32.544l26.87 26.87z' fill='%2362c1dc' fill-opacity='0.31' fill-rule='evenodd'/%3E%3C/svg%3E");
    width: 100%;
    padding: 48px 0;
    position: relative;
    top: 70px;
    color: var(--neutral-color);
}

.quote_content{
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 24px;
    font-family: 'Merriweather', serif;
    color: var(--neutral-color);
}

.quote_author{
    display: inline-block;
    width: 100%;
    font-family: 'Merriweather', serif;
    font-size: 18px;
    text-align: center;
    color: var(--neutral-color);
} 
/*
SVG Background
Will be used
background-color: #00acdc;
background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M54.627 0l.83.828-1.415 1.415L51.8 0h2.827zM5.373 0l-.83.828L5.96 2.243 8.2 0H5.374zM48.97 0l3.657 3.657-1.414 1.414L46.143 0h2.828zM11.03 0L7.372 3.657 8.787 5.07 13.857 0H11.03zm32.284 0L49.8 6.485 48.384 7.9l-7.9-7.9h2.83zM16.686 0L10.2 6.485 11.616 7.9l7.9-7.9h-2.83zm20.97 0l9.315 9.314-1.414 1.414L34.828 0h2.83zM22.344 0L13.03 9.314l1.414 1.414L25.172 0h-2.83zM32 0l12.142 12.142-1.414 1.414L30 .828 17.272 13.556l-1.414-1.414L28 0h4zM.284 0l28 28-1.414 1.414L0 2.544V0h.284zM0 5.373l25.456 25.455-1.414 1.415L0 8.2V5.374zm0 5.656l22.627 22.627-1.414 1.414L0 13.86v-2.83zm0 5.656l19.8 19.8-1.415 1.413L0 19.514v-2.83zm0 5.657l16.97 16.97-1.414 1.415L0 25.172v-2.83zM0 28l14.142 14.142-1.414 1.414L0 30.828V28zm0 5.657L11.314 44.97 9.9 46.386l-9.9-9.9v-2.828zm0 5.657L8.485 47.8 7.07 49.212 0 42.143v-2.83zm0 5.657l5.657 5.657-1.414 1.415L0 47.8v-2.83zm0 5.657l2.828 2.83-1.414 1.413L0 53.456v-2.83zM54.627 60L30 35.373 5.373 60H8.2L30 38.2 51.8 60h2.827zm-5.656 0L30 41.03 11.03 60h2.828L30 43.858 46.142 60h2.83zm-5.656 0L30 46.686 16.686 60h2.83L30 49.515 40.485 60h2.83zm-5.657 0L30 52.343 22.343 60h2.83L30 55.172 34.828 60h2.83zM32 60l-2-2-2 2h4zM59.716 0l-28 28 1.414 1.414L60 2.544V0h-.284zM60 5.373L34.544 30.828l1.414 1.415L60 8.2V5.374zm0 5.656L37.373 33.656l1.414 1.414L60 13.86v-2.83zm0 5.656l-19.8 19.8 1.415 1.413L60 19.514v-2.83zm0 5.657l-16.97 16.97 1.414 1.415L60 25.172v-2.83zM60 28L45.858 42.142l1.414 1.414L60 30.828V28zm0 5.657L48.686 44.97l1.415 1.415 9.9-9.9v-2.828zm0 5.657L51.515 47.8l1.414 1.413 7.07-7.07v-2.83zm0 5.657l-5.657 5.657 1.414 1.415L60 47.8v-2.83zm0 5.657l-2.828 2.83 1.414 1.413L60 53.456v-2.83zM39.9 16.385l1.414-1.414L30 3.658 18.686 14.97l1.415 1.415 9.9-9.9 9.9 9.9zm-2.83 2.828l1.415-1.414L30 9.313 21.515 17.8l1.414 1.413 7.07-7.07 7.07 7.07zm-2.827 2.83l1.414-1.416L30 14.97l-5.657 5.657 1.414 1.415L30 17.8l4.243 4.242zm-2.83 2.827l1.415-1.414L30 20.626l-2.828 2.83 1.414 1.414L30 23.456l1.414 1.414zM56.87 59.414L58.284 58 30 29.716 1.716 58l1.414 1.414L30 32.544l26.87 26.87z' fill='%2362c1dc' fill-opacity='0.31' fill-rule='evenodd'/%3E%3C/svg%3E");
*/


/*Swiper*/

.swiper{
    position: relative;
    top: 70px;
    height: 600px;
    width: 100%;
}
.swiper-navigation-next,
.swiper-navigation-prev{
    z-index: 1;
}

.swiper-button-next::after,
.swiper-button-prev::after{
    color: var(--neutral-color);
    background-color: transparent;
}

.swiper-pagination-bullet{
    background-color: var(--neutral-color);
}
.swiper-pagination-bullet-active{
    background-color: var(--accent-color);
}

.swiper-slide{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
}
.film_swiper{
    background-color: rgba(0, 0, 0, .6);
    backdrop-filter: blur(3px);
    width: 100%;
    height: 100%;
}

.swiper_container{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.swiper_title{
    color: var(--neutral-color);
    font-family: 'Montserrat', sans-serif;
    font-size: 64px;
    font-weight:700;
    margin-bottom: 25px;
}

.swiper_content{
    color: var(--neutral-color);
    font-size: 24px;
}
.swiper_list::before{
    content:"• "; font: size 10px;
}
.swiper_list_element{
    font-size: 24px;
}

ul{
    padding-left: 5px;
    color: var(--neutral-color);
    font-size: 24px;
    list-style: none;
}

.swiper_container a{
    position: absolute;
    left: calc(50% - 125px);
    bottom: 50px;
}

.swiper_button{
    width: 250px;
    height: 60px;
    color: var(--neutral-color);
    font-size: 24px;
    background-color: var(--accent-color);
    border: none;
    transition: var(--transition);
}

.swiper_button:hover{
    background-color: var(--accent-hover);
}

 
/* Footer */
/*  
.footer{
    width: 100%;
    height: 300px;
    background-color: #707070;
    display: inline-flex;
}

.footer_logo{
    position: relative;
    margin-top: 200px;
}

.footer_icons{
    display: flex;
    margin-left: 85%;
}

.footer_icon{
    margin: -40px 15px;
    left: 850px;
    height: 40px;
    border-radius: 10px;
}

.footer_icon:hover{
    background-color: #b3b3b3;
} */

.footer_container{
    position: relative;
    top: 70px;
    height: 150px;
    width: 100%;
    background-color: var(--primary-color);
}
.foot{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

/* Connect with us page*/

 .film_connect{
    background-color: rgba(0, 0, 0, .5);
    width: 100%;
    top: 70px;
    height: 1000px;
    position: fixed;
    z-index: 3;
    display: none;
}

.connect_us{
    width: 350px;
    height: 400px;
    margin: 100px auto 0; 
    background-color: #fff;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 20px;
    padding: 0 30px;
}

.signup_header{
    display: inline-block;
    color: #00ACDC;
    padding: 0;
    margin: 10px 36px 20px;
    font-size: 38px;
    font-family: 'Montserrat';
    font-weight: 400;
    text-align: center;
}

.form_signup{
    width: 70%;
    border: solid 2px #00acdc;
    border-radius: 15px; 
    background-color: #fff;
    display: block;
    padding: 10px 0 10px 20px;
    font-size: 16px;
}

.form_sorted{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}

.signup_button{
    margin: 10px 146px;
    padding: 15px;
    height: 51px;
    left: calc(50% - 139px/2 + 1.5px);
    top: calc(50% - 51px/2 + 168.5px);
    background: linear-gradient(180deg, #00ACDC 0%, #0058DC 100%);
    border-radius: 15px;
    border: none;
    color: var(--neutral-color);
}

.namel{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.x{
    font-weight: 500;
    color: #00ACDC;
    font-size: 15px;
    background-color: #707070;
    height: 25px;
    border-color: #fff;
    border-radius: 100%;
    position: absolute;
    right: 39%;
    top: 12%;
}

.film_active{
    display: block;
}  

/* Adaptation */

@media only screen and (max-width: 1200px){
    .hook{
        width: 75%;
    }
}
@media only screen and (max-width: 769px){
    .hook{
        width: 100%;
        align-items: center;
        text-align: center;
    }
    .footer_icons{
        margin-left: 70%;
    }
    .news_container{
        width: 750px;
    }

    .why-us_list{
        margin: 0 auto;
        display: grid;
        max-width: 500px;
        height: 100%;
        grid-template-columns: 1fr;
        gap: 50px;
    }

    
    
.news_{
    margin: 1%;
}

._container{
    padding: 0 3vw;
}
}


@media only screen and (max-width: 600px){
.footer_icon{
       left: 20px;
       margin: 205px 5px 0;
}

.footer_logo{
    left: 20px;
}

.footer_icons{
    margin-left: 20px;
}

.why-us_list{
    
    gap: 50px;
}
._container{
    padding: 0 2vw;
}
 
.news_{
    display: none
} 
} 

/* 
@media only screen and (max-width: 1500px){
.footer_icons{
    margin-left: 950px;
}
}


@media only screen and (max-width: 1050px){
    .footer_icons{
        margin-left: 550px;
    }
}