input{
    margin: 10px auto;
}

.signin_container{
    position: relative;
    top: 70px;
    width: 100%;
    height: calc(100vh - 70px);
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: #00ACDC;
}

.signin_form{
    width: 320px;
    height: 437px;
    margin: auto;
    align-items: center;
    justify-content: center;
    display: inline-block;
    border-radius: 20px;
    background-color: #fff;
}

.signin_header{
    color: #00ACDC;
    margin: 44px 104px;
    font-size: 40px;
    font-family: 'Montserrat';
    font-weight: 500;
}

.form{
    width: 90%;
    border: solid 2px #00acdc;
    border-radius: 15px;
    margin: 15px auto;
    background-color: #fff;
    display: block;
    padding: 10px 0 10px 20px;
    font-size: 16px;
}

.wrong_password{
    display: none;
    color: red;
    font-weight: 500;
    text-align: center;
}

.forgot_password{
    text-decoration: underline;
    color: #00ACDC;
}

.forgot_password_page{
    text-decoration: underline;
    color: #00ACDC;
    margin-left: 20px;
}

.forgot{
    margin: 10px auto;
    align-items: center;
    justify-content: center;
    display: block;
    font-size: 14px;
    font-weight: 400px;
    font-family: 'Montserrat';
    text-align: center;
}

.signin_button{
    margin: auto 90px;
    width: 139px;
    height: 51px;
    left: calc(50% - 139px/2 + 1.5px);
    top: calc(50% - 51px/2 + 168.5px);
    background: linear-gradient(180deg, #00ACDC 0%, #0058DC 100%);
    border-radius: 15px;
    border: none;
    color: var(--neutral-color);
}




/* SIGN UP FORM PAGE */
.film{
    background-color: rgba(0, 0, 0, .5);
    width: 100%;
    height: 100%;
}

.signup_{
    width: 100%;
    height: calc(100vh - 70px);
    position: relative;
    top: 70px;
    display: flex;
    flex-direction: row;
}

.bg_img{
    width: 40%;
    height: 100%;
    background-image: url('../images/thailand.jpg');
    background-size: cover;
}

.signup_container{
    width: 60%;   
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: #00ACDC;
}

.signup_form{
    width: 430px;
    height: 500px;
    margin: 0 auto;
    background-color: #fff;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 20px;
    padding: 0 30px;
}

.namel{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.signup_button{
    margin: 10px 146px;
    padding: 15px;
    height: 51px;
    left: calc(50% - 139px/2 + 1.5px);
    top: calc(50% - 51px/2 + 168.5px);
    background: linear-gradient(180deg, #00ACDC 0%, #0058DC 100%);
    border-radius: 15px;
    border: none;
    color: var(--neutral-color);
}

.signup_header{
    display: inline-block;
    color: #00ACDC;
    padding: 0;
    margin: 20px 56px 30px;
    font-size: 48px;
    font-family: 'Montserrat';
    font-weight: 500;
}

.form_signup{
    width: 70%;
    border: solid 2px #00acdc;
    border-radius: 15px; 
    background-color: #fff;
    display: block;
    padding: 10px 0 10px 20px;
    font-size: 16px;
}
.form_sorted{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}

/* 
.thailand_img{
    width: 615px;
    height: 730px;
    align-items: center;
    display: inline-block;
    position: absolute;
} */

/* Forgot password form page */

.forgot_form{
    width: 300px;
    height: 20%;
    margin: auto;
    background-color: #fff;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 20px;
}
