.signin_container{
    position: relative; 
    top: 70px;
    /*Mandatory for all sections after header*/

    width: 100%;
    height: calc(100vh - 70px); /*Window height - header's height = no overflow*/
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.signin_form{
    width: 300px;
    background-color: var(--accent-color);
    /* background: rgb(0,172,220);
    background: linear-gradient(165deg, rgba(0,172,220,1) 0%, rgba(198,75,213,1) 50%, rgba(233,116,81,1) 100%); */
    
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 25px;
    flex-direction: column;

    padding: 30px 0;
}

.signin_title{
    color: var(--neutral-color);
}


.wrong_password{
    color: var(--accent-alt);
    font-weight: 500;
    margin-left: 10%;
}





/* SIGN UP FORM PAGE */
.signup_form{
    width: 300px;
    height: 40%;
    margin: auto;
    background-color: #ea8263;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 15%;

}


/* Forgot password form page */

.forgot_form{
    width: 300px;
    height: 20%;
    margin: auto;
    background-color: #ea8263;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 15%;
}