.signin_container{
    width: 100%;
    height: 62.5rem;
    align-items: center;
    justify-content: center;
    display: flex;
}

.signin_form{
    width: 300px;
    height: 30%;
    margin: auto;
    background-color: #ea8263;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 15%;
}

.form{
    border: solid 1px #000;
    border-radius: 10%;
    margin: 20px auto;
    background-color: antiquewhite;
    display: block;
    padding: 12px;
}

.wrong_password{
    color: red;
    font-weight: 500;
    margin-left: 10%;
}

.forgot{
    margin: auto;
    align-items: center;
    justify-content: center;
    display: block;
}




/* SIGN UP FORM PAGE */
.signup_form{
    width: 300px;
    height: 40%;
    margin: auto;
    background-color: #ea8263;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 15%;

}


/* Forgot password form page */

.forgot_form{
    width: 300px;
    height: 20%;
    margin: auto;
    background-color: #ea8263;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 15%;
}